body {
  margin: 0;
  display: flex;
  padding: 20px 16px;
  place-items: center;
  min-width: 320px;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  color: #ffffff;
}

.inner {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

h3 {
  font-size: 16px;
  text-align: center;
  background: linear-gradient(to right, #39ff14, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 10px 0;
}

button {
  color: #ffffff;
  outline: none;
  border: 1px solid #3a3a3a;
  padding: 7px 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #1a1a1a;
}

input[type='color'] {
  display: block;
  width: 60px;
  height: 29px;
  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}
